<!--EASY LEGALS-->
<div class="item">
    <div class="row center-content flex-row-reverse">
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>


        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
            <div class="attorney-item text-center">
                <img src="img/members/easylegals.png" class="mx-auto d-block" alt="asinter logo" width="60%" />
                <div class="attorney-title">EASY LEGALS</div>
                <div class="margin-bottom-25"></div>
                <p>Especializados en facilitar la compra de propiedades en España para clientes internacionales. Ofrecen servicios en inglés y otros idiomas, y se enfocan en conveyancing (tramitación legal de compraventas), herencias, impuestos, obtención
                    de NIE y asesoría legal clara y simplificada, adaptada a no residentes.
                </p>
                <div class="margin-bottom-20"></div>
                <div class="cinfo">
                    <p><i class="fa fa-phone"></i> 966 765 024</p>
                    <p><i class="fa fa-globe"></i><a href="https://easylegals.com/">www.easylegals.com</a></p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:info@easylegals.com">info@easylegals.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>

    </div>
</div>