<!--mamsolicitors-->
<div class="item">
    <div class="row center-content">
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>

        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
            <div class="attorney-item text-center">
                <img src="img/members/mamsolicitors.png" class="mx-auto d-block" alt=- "asinter logo" width="60%" />
                <cite>YOUR TRUSTED LAW FIRM IN SPAIN</cite>
                <div class="attorney-title">Mam Solicitors</div>
                <div class="margin-bottom-25"></div>
                <p>Con oficinas en la Costa Blanca y Costa Cálida, MAM Solicitors está especializado en Derecho Inmobiliario, Sucesiones, Extranjería y Fiscalidad. Ofrecen servicios legales a clientes internacionales, incluyendo compraventa de propiedades,
                    redacción de testamentos, herencias, obtención de NIE y representación fiscal. Destacan por su enfoque cercano, atención multilingüe y más de 30 años de experiencia en el asesoramiento legal en España.
                </p>
                <div class="margin-bottom-20"></div>
                <div class="cinfo">
                    <p><i class="fa fa-phone"></i>968 334 439</p>
                    <p><i class="fa fa-globe"></i><a href="https://mamsolicitors.com/">www.mamsolicitors.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>
    </div>
</div>
<!--MANCHON ABOGADOS-->
<div class="item">
    <div class="row center-content">
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>

        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
            <div class="attorney-item text-center">
                <img src="img/members/manchonabogados.png" class="mx-auto d-block" alt=- "asinter logo" width="60%" />
                <div class="attorney-title">Manch&oacute;n abogados</div>
                <div class="margin-bottom-25"></div>
                <p>Manchón Abogados es un despacho con sede en Elche especializado en Derecho Inmobiliario, Civil, Sucesiones y Extranjería. Ofrecen asesoramiento legal integral para clientes nacionales e internacionales, especialmente en la compra y venta
                    de propiedades, herencias, testamentos, y trámites para no residentes. Se caracterizan por un trato personalizado, experiencia local y atención en varios idiomas.
                </p>
                <div class="margin-bottom-20"></div>
                <div class="cinfo">
                    <p><i class="fa fa-phone"></i>625 11 00 50</p>
                    <p><i class="fa fa-globe"></i><a href="https://manchonabogados.com/">www.manchonabogados.com</a>
                    </p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:manchon@manchonabogados.com">manchon@manchonabogados.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>
    </div>
</div>
<!--MARE NOSTRUM-->
<div class="item">
    <div class="row center-content">
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>

        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
            <div class="attorney-item text-center">
                <img src="img/members/marenostrum.png" class="mx-auto d-block" alt=- "asinter logo" width="60%" />
                <cite>Mare Nostrum Law & Tax, S.L.P.</cite>
                <div class="attorney-title">Eugenio Pedre&ntilde;o Balibrea</div>
                <div class="margin-bottom-25"></div>
                <p>Ofrece asesoría legal integral en España para clientes internacionales, especializada en derecho inmobiliario, sucesiones, fiscalidad y servicios personalizados en su idioma.
                </p>
                <div class="margin-bottom-20"></div>
                <div class="cinfo">
                    <p><i class="fa fa-phone"></i> 968 13 73 74</p>
                    <p><i class="fa fa-globe"></i><a href="https://www.mnostrumlaw.com">www.mnostrumlaw.com</a></p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:eugeniopb@mnostrumlaw.com">eugeniopb@mnostrumlaw.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>
    </div>
</div>