<!--FERNANDEZ & MONFORT-->
<div class="item">
    <div class="row center-content flex-row-reverse">
        <div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6">
            <div class="lawyer-thumb">
                <img src="img/lawyers/fernandez&monfort.jpg" class="img-responsive" alt="" />
            </div>
        </div>

        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
            <div class="attorney-item text-center">
                <img src="img/members/fernandez&monfort.png" class="mx-auto d-block" alt="asinter logo" width="60%" />
                <div class="attorney-title">Fern&aacute;ndez & Monfort</div>
                <div class="margin-bottom-25"></div>
                <p>Un despacho con sede en Orihuela especializado en Derecho Inmobiliario, Herencias, Contratación y Extranjería. Ofrecen asesoramiento legal a particulares y empresas, con enfoque en clientes extranjeros que compran propiedades en España.
                    Destacan por su atención cercana, experiencia local y soluciones jurídicas adaptadas.
                </p>
                <div class="margin-bottom-20"></div>
                <div class="cinfo">
                    <p><i class="fa fa-phone"></i>966 730 264</p>
                    <p><i class="fa fa-globe"></i><a href="https://fernandezabogado.es/">www.fernandezabogado.es</a></p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:info@fernandezabogado.es">info@fernandezabogado.es</a></p>
                </div>
            </div>
        </div>
    </div>
</div>