<div class="item">
    <div class="row center-content flex-row-reverse">
        <div class="col-md-3 col-md-push-3 col-sm-3 col-sm-push-3">
        </div>

        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
            <div class="attorney-item text-center">
                <img src="img/members/adrianaperez.png" class="mx-auto d-block" alt="adriana perez logo" width="60%" />
                <cite>Su despacho legal & fiscal de confianza </cite>
                <div class="attorney-title">ADRIANA PEREZ</div>
                <div class="margin-bottom-25"></div>
                <p>Somos un pequeño despacho de abogados internacional multidisciplinar, haciendo nuestras las preocupaciones de nuestros clientes.
                </p>
                <div class="margin-bottom-20"></div>
                <div class="cinfo">
                    <p><i class="fa fa-phone"></i> 968 33 41 78</p>
                    <p><i class="fa fa-globe"></i><a href="https://aplslegal.com/">www.aplslegal.com</a></p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:info@aplslegal.com">info@aplslegal.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-push-3 col-sm-3 col-sm-push-3">
        </div>
    </div>
</div>
<!--ASINTER-->
<div class="item">
    <div class="row center-content flex-row-reverse">
        <div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6">
            <div class="lawyer-thumb">
                <img src="img/lawyers/asinter.jpeg" class="img-responsive" alt="" />
            </div>
        </div>

        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
            <div class="attorney-item text-center">
                <img src="img/members/asinter.png" class="mx-auto d-block" alt="asinter logo" width="60%" />
                <cite>Asesor&iacute;a Internacional</cite>
                <div class="attorney-title">ASINTER</div>
                <div class="margin-bottom-25"></div>
                <p>Asesoría jurídica internacional de confianza con más de 25 años de experiencia. Nuestro equipo de expertos se especializa en derecho civil, laboral, mercantil y administrativo, así como en servicios extrajudiciales, ofreciendo soluciones
                    efectivas y adaptadas a las necesidades de nuestros clientes.
                </p>
                <div class="margin-bottom-20"></div>
                <div class="cinfo">
                    <p><i class="fa fa-phone"></i> 966 71 88 30</p>
                    <p><i class="fa fa-globe"></i><a href="https://asinterlawyers.com/">www.asinterlawyers.com</a></p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:filoasinter@gmail.com">filoasinter@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>