<!--NMN-->
<div class="item">
    <div class="row center-content">
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>

        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
            <div class="attorney-item text-center">
                <img src="img/members/nmn.png" class="mx-auto d-block" alt="asinter logo" width="30%" />
                <div class="attorney-title">NMN Abogados</div>
                <div class="margin-bottom-25"></div>
                <p>Despacho multidisciplinar con sede en Alicante que ofrece asesoramiento legal integral en áreas como Derecho Inmobiliario, Extranjería, Sucesiones, Fiscalidad, Derecho Civil y Penal. Están especializados en asistir a clientes nacionales
                    e internacionales, especialmente en procesos de compraventa, herencias y trámites legales para extranjeros. Destacan por su atención cercana, eficaz y personalizada.
                </p>
                <div class="margin-bottom-20"></div>
                <div class="cinfo">
                    <p><i class="fa fa-phone"></i>643 122 515</p>
                    <p><i class="fa fa-globe"></i><a href="https://www.nmnabogados.com/">www.nmnabogados.com</a></p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:info@nmnabogados.com">info@nmnabogados.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-3 col-sm-3 col-sm-pull-3"></div>
    </div>
</div>